.input-container{
    width: 100%;
}

.regular-style{
    width: 80%;
    height: 35px;
    border-radius: 10px;
    border: none;
    padding: 0 10px 0 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
    color: black;
    font-size: 15px;
    outline: none;
    filter: drop-shadow (16px 16px 10px black);
}