/* Register.js */

.registrationForm_container {
    width: 100%;
}

.registrationForm_container .form {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registrationForm_container .form h1 {
    font-size: 1rem;
    text-align: start;
    width: 80%;
    margin-bottom: 1rem;
}

.registrationForm_container .form-inputs {
    margin-bottom: 0.5rem;
    width: 80%;
}

.registrationForm_container .form-inputs p {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: #f00e0e;
}

.registrationForm_container .form-label {
    display: inline-block;
    font-size: 0.8rem;
    margin-bottom: 6px;
}

.registrationForm_container .form-input {
    display: block;
    padding-left: 10px;
    outline: none;
    border-radius: 2px;
    height: 40px;
    width: 100%;
    border: none;
}

.registrationForm_container .form-input::placeholder {
    color: #595959;
    font-size: 12px;
}

.registrationForm_container .form-input-btn {
    width: 80%;
    height: 50px;
    margin-top: 10px;
    border-radius: 2px;
    background: #FFA62B;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
}

.registrationForm_container .form-input-btn:hover {
    cursor: pointer;
    background: linear-gradient(
            90deg,
            rgb(39, 143, 255) 0%,
            rgb(12, 99, 250) 100%
    );
    transition: all 0.4s ease-out;
}

.registrationForm_container .form-input-login {
    font-size: 0.8rem;
    margin-top: 10px;
    color: #000;
    width: 80%;
    text-align: center;
}

.registrationForm_container .form-input-login a {
    text-decoration: none;
    color: #FFA62B;
    font-weight: 600;
}